<template>
  <div class="home">
    <section :class="$style.welcomeSection">
      <div class="content">
        <h1>
          Welcome to <br />
          Business Analytics Online
        </h1>
      </div>
    </section>
    <section :class="$style.infoSection">
      <div class="content" :class="$style.wrapper">
        <div :class="$style.infoBlock">
          <p>
            <span style="font-weight: 500">Business Analytics</span> — a new, convenient tool for managing and
            forecasting your business performance, which will help analyze your own finances and cash flows, visualize
            your reporting, business processes, KPI's
          </p>
          <CheckList
            :items="[
              {
                title: 'Interactive Reporting',
                text: 'In just a few clicks, you can connect your data from 1C, CRM (Bitrix24, AmoCRM, ZohoCRM), E-commerce (PROM.UA, Rozetka, ebay), Logistic (Nova Poshta), Google Analytics and many more systems that reflect different aspects of business activities.',
              },
              {
                title: 'Automated data updates',
                text: 'The application automatically updates and structures the data in just 60 seconds, saving you time and money.',
              },
              {
                title: 'Data Security',
                text: 'The Bank guarantees the safety of your personal data, ensuring their integrity and confidentiality.',
              },
            ]"
          />
        </div>
        <LoginForm :class="$style.loginForm" />
      </div>
    </section>
  </div>
</template>

<script>
import CheckList from '@/components/CheckList';
import LoginForm from '@/components/LoginForm';

export default {
  name: 'Home',
  components: {
    CheckList,
    LoginForm,
  },
};
</script>

<style module>
.welcomeSection {
  position: relative;

  width: 100%;
  height: 460px;

  background-image: url('~@/assets/background.jpg');
  background-size: cover;
}
.welcomeSection h1 {
  position: absolute;
  display: inline-block;

  margin: 0;
  bottom: 70px;

  font-weight: normal;
  font-size: 3.5em;
  line-height: 150%;
  color: #fff;
}
.infoBlock {
  width: 660px;
}
.infoSection {
  padding: 40px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.loginForm {
  position: relative;
  margin-top: -220px;
}

@media (max-width: 1250px) {
  .welcomeSection h1 {
    width: 800px;
    text-align: center;
    left: 50%;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .infoBlock {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .loginForm {
    order: -1;
    margin-top: -140px;
    margin-bottom: 50px;
  }
}

@media (max-width: 840px) {
  .welcomeSection h1 {
    font-size: 3em;
    width: 540px;
    transform: translate(-50%, calc(-50% - 50px));
  }
  .infoBlock p {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .welcomeSection {
    display: flex;
    align-items: center;
  }
  .welcomeSection h1 {
    position: static;
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 80px;

    transform: translate(0, 0);
  }
  .infoBlock {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .welcomeSection {
    width: 100%;
    height: 300px;
  }
  .welcomeSection h1 {
    font-size: 2em;
    margin-bottom: 100px;
  }
}
</style>
