<template>
  <div :class="$style.todoPage">
    <div :class="$style.background">
      <div class="content" style="height: 100%">
        <div :class="$style.logoContainer">
          <img src="@/assets/logo.png" alt="logo" />
        </div>
        <div :class="$style.block">
          <h1 :class="$style.title">Thank you {{ name }}!</h1>
          <div :class="$style.todo">
            <Input
              :input-class="$style.input"
              name="todo"
              v-model="field"
              @keydown.enter="addItem"
              @focus="updateTodo"
              :placeholder="'Press Enter to add new todo'"
            />
            <ul :class="$style.list">
              <li
                :class="$style.item"
                v-for="(todo, index) in todos"
                :key="index"
                @dblclick="edit(index)"
                :style="`background-color: ${todo.color.s}; border: 2px solid ${todo.color.p}`"
              >
                <Input
                  v-focus
                  name="edit"
                  :input-class="$style.editInput"
                  v-if="editableItem === index"
                  v-model="todo.text"
                  @keydown.enter="updateTodo"
                />
                <span v-show="editableItem !== index" :class="$style.closeMark" @click="deleteItem(index)">
                  &times;
                </span>
                <span style="vertical-align: middle" v-show="editableItem !== index">{{ todo.text }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Input from '@/components/Input';
import Auth from '@/core/Auth';

const colors = [
  { p: '#cc1c1c', s: '#ec6767' },
  { p: '#1c4ecc', s: '#81a7ff' },
  { p: '#327e1a', s: '#43c257' },
];

export default {
  name: 'Todo',
  components: { Input },
  data() {
    return {
      field: '',
      todos: [],
      editableItem: null,
    };
  },
  methods: {
    getRandomColor() {
      const idx = Math.floor(Math.random() * colors.length);
      return colors[idx];
    },
    addItem() {
      if (!this.field) return;
      this.todos.push({ text: this.field, color: this.getRandomColor() });
      this.field = '';
    },
    edit(index) {
      if (index === this.editableItem) {
        this.editableItem = null;
        return;
      }
      this.editableItem = index;
    },
    updateTodo() {
      if (this.todos[this.editableItem] && !this.todos[this.editableItem].text) {
        this.deleteItem(this.editableItem);
      }
      this.editableItem = null;
    },
    deleteItem(index) {
      this.todos.splice(index, 1);
    },
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  created() {
    this.name = Auth.getName();
  },
};
</script>

<style module>
.closeMark {
  cursor: pointer;
  position: absolute;
  transform: scale(2);
  color: #333333;
  right: 0;
  top: 0;
  margin-top: -10px;
  margin-right: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.3s;
}
.editInput {
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.editInput:focus {
  border: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.item {
  position: relative;
  box-sizing: border-box;
  list-style-type: none;
  padding: 10px 25px;
  margin: 10px;
  border: 2px solid #1c4ecc;
  background-color: #81a7ff;
  color: #fff;
  font-weight: 500;
}
.item:hover .closeMark {
  visibility: visible;
  opacity: 1;
}
.todo {
  width: 80%;
}
.input {
  text-align: center;
}
.todoPage {
  background-color: #faf7f7;
  height: 100vh;
}
.background {
  background: linear-gradient(180deg, #00afed 0%, #00569a 100%);
  height: 100%;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}
.logoContainer {
  padding: 66px;
  text-align: center;
}
.logoContainer img {
  transform: scale(1);
}
.title {
  margin: 0;
  padding: 32px;
  font-weight: 600;
  text-align: center;
  font-size: 60px;
}

@media (max-width: 840px) {
  .title {
    font-size: 40px;
    padding: 20px;
  }
}

@media (max-width: 540px) {
  .logoContainer {
    padding: 40px;
  }
  .logoContainer img {
    transform: scale(0.8);
  }
}
</style>
