<template>
  <button :type="type" :class="[$style.button, view === 'link' && $style.link]">{{ text }}</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: { type: String, require: true },
    type: String,
    view: { type: String, default: 'filled' },
  },
};
</script>

<style module>
.button {
  width: 100%;
  padding: 8px 28px;
  border: 2px solid #0076c0;

  background-color: #0076c0;

  color: #fff;
  font-weight: 500;
  transition: all ease 0.3s;
}
.link {
  padding: 0;
  border: none;
  width: fit-content;

  background-color: inherit;
}
.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #0076c0;
}
.button.link:hover {
  text-decoration: underline;
}
</style>
