<template>
  <ul :class="$style.list">
    <li :class="$style.item" v-for="(item, index) in items" :key="index">
      <p>
        <img src="@/assets/check-mark.png" alt="check mark" />
        <span :class="$style.title">{{ item.title }}</span>
      </p>
      <p :class="$style.text">{{ item.text }}</p>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'CheckList',
  props: {
    items: { type: Array, required: true, default: () => [] },
  },
};
</script>

<style module>
.list {
  padding: 10px 0 0 0;
}
.item {
  list-style-type: none;
}
.title {
  font-weight: 500;
}
.item p img {
  margin-right: 15px;
  width: 23px;
  height: 17px;
  vertical-align: middle;
}
.item p:nth-child(2) {
  font-size: 0.88em;
  margin-left: 38px;
}

@media (max-width: 840px) {
  .list .item {
    margin-bottom: 30px;
  }
  .item p:nth-child(2) {
    padding: 0 40px;
    margin-left: 0;
  }
}

@media (max-width: 580px) {
  .item p:nth-child(2) {
    padding: 0;
  }
}
</style>
