<template>
  <footer :class="$style.footer">
    <div class="content" :class="$style.wrapper">
      <div :class="$style.top">
        <a href="#"><img src="@/assets/logo.png" alt="logo" /></a>
        <ul :class="$style.menu">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Notice at Collection</a></li>
          <li><a href="#">CA Privacy Hub</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div :class="$style.bottom">
        <p>Copyright © 2020 Citigroup Inc. Citibank, N.A. Member FDIC. Equal Opportunity Lender.</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style module>
.footer {
  height: 175px;
  background-color: #333333;
}
.wrapper {
  height: 50%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  height: 100%;
}
.bottom {
  display: flex;
  align-items: center;
  height: 100%;
}
.bottom p {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
.top img {
  width: 56px;
  height: 34px;
}
.menu {
  text-align: right;
}
.menu li {
  display: inline-block;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

@media (max-width: 580px) {
  .wrapper {
    padding: 0 20px;
  }
  .bottom {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .menu {
    text-align: right;
  }
  .wrapper {
    height: 75%;
  }
  .bottom {
    height: 30%;
  }
}
</style>
