<template>
  <header>
    <div :class="$style.headerTop" />
    <div :class="$style.headerBottom">
      <div class="content">
        <a href="#"><img :class="$style.logo" src="@/assets/logo.png" alt="logo" /></a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style module>
.headerTop {
  height: 50px;
  background-color: #333333;
}
.headerBottom {
  background: linear-gradient(180deg, #00afed 0%, #00569a 100%);
}
.logo {
  width: 103px;
  height: 66px;
  margin: 15px 0;
  vertical-align: bottom;
}

@media (max-width: 840px) {
  .headerBottom {
    text-align: center;
  }
}

@media (max-width: 580px) {
  .headerTop {
    height: 30px;
  }
  .logo {
    margin: 5px 0;
    transform: scale(0.7);
  }
}

@media (max-width: 480px) {
  .headerTop {
    display: none;
  }
}
</style>
