<template>
  <label :class="$style.label">
    {{ label }}
    <input
      :class="[$style.input, inputClass]"
      :style="[error && 'border: 1px solid #d60000']"
      v-bind="[$props, $attrs]"
      :value="value"
      v-on="inputListeners"
    />
    <span :class="$style.error"><span v-if="error" :class="$style.closeMark">&times;&nbsp;</span> {{ error }}</span>
  </label>
</template>

<script>
export default {
  name: 'Input',
  props: {
    name: { type: String, required: true },
    label: String,
    type: { type: String, default: 'text' },
    value: { type: String, required: true },
    error: { type: String },
    inputClass: { type: String },
  },
  computed: {
    inputListeners() {
      const vm = this;
      return Object.assign({}, this.$listeners, {
        input(event) {
          vm.$emit('input', event.target.value);
        },
      });
    },
  },
};
</script>

<style module>
.input {
  box-sizing: border-box;
  padding: 15px;
  margin-top: 7px;

  width: 100%;
  height: 52px;

  border: 1px solid #9a9a9a;
  font-size: 18px;
}
.input:focus {
  border: 1px solid #101010;
  outline: none;
}
.label {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
}
.error {
  color: #d60000;
  font-size: 16px;
}
.closeMark {
  display: inline-block;
  transform: scale(1.3);
  vertical-align: top;
}
</style>
