<template>
  <form :class="$style.form" @submit.prevent="login">
    <div :class="$style.wrapper">
      <Input
        style="margin-bottom: 40px"
        name="username"
        type="text"
        label="Name"
        v-model="username"
        :error="usernameError"
      />
      <Input
        style="margin-bottom: 40px"
        name="password"
        type="password"
        label="Password"
        v-model="password"
        :error="passwordError"
      />
      <div :class="$style.signOn">
        <Button :class="$style.loginButton" text="LOGIN" type="submit" />
        <Button :class="$style.linkButton" view="link" text="Forgot Password" />
      </div>
    </div>
    <Button :class="$style.regButton" text="Register now" />
  </form>
</template>

<script>
import Input from '@/components/Input';
import Button from '@/components/Button';
import authService from '@/core/Auth';

export default {
  name: 'LoginForm',
  components: { Input, Button },
  data() {
    return {
      username: '',
      usernameError: null,

      password: '',
      passwordError: null,
    };
  },
  watch: {
    username(current) {
      this.usernameError = this.validation(current);
    },
    password(current) {
      this.passwordError = this.validation(current);
    },
  },
  methods: {
    validation(value) {
      if (value.length <= 2 || value.length >= 12) {
        return 'Field must be between 2 and 12 characters';
      }

      if (!value.match('^[A-Za-z0-9]+$')) {
        return 'Only letters and numbers are allowed';
      }

      return null;
    },
    login() {
      const credentials = { username: this.username, password: this.password };
      authService
        .login(credentials, '/todo')
        .then(() => {
          this.username = this.password = '';
          this.usernameError = this.passwordError = '';
        })
        .catch(() => {
          this.usernameError = this.passwordError = 'Incorrect data';
        });
    },
  },
};
</script>

<style module>
.form {
  width: 480px;
  height: fit-content;

  background-color: #fff;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}
.signOn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.loginButton {
  margin-bottom: 20px;
  padding: 12px;
  font-size: 20px;
}
.linkButton {
  color: #056dae;
  font-weight: 400;
  font-size: 20px;
}
.regButton {
  padding: 17px;
  border: 2px solid #f6f6f6;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  background-color: #f6f6f6;
}
.regButton:hover {
  color: #f6f6f6;
  background-color: #333333;
  border: 2px solid #333333;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 520px) {
  .form {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 30px 15px;
  }
}
</style>
