<template>
  <div id="app">
    <Header v-if="['/login'].indexOf($route.path) > -1" />
    <router-view />
    <Footer v-if="['/login'].indexOf($route.path) > -1" />
  </div>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';

export default {
  components: { Header, Footer },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 840px) {
  .content {
    max-width: 540px;
  }
}

@media (max-width: 580px) {
  .content {
    max-width: 100%;
  }
}

@media (max-width: 580px) {
  body {
    font-size: 18px;
  }
}
</style>
